<script>
var app = angular.module('app', []);

app.controller('FilterOrderByCtrl', function($scope) {
    $scope.items = [
        {title: 'Item 3'},
        {title: 'Item 1'},
        {title: 'Item 4'},
        {title: 'Item 2'},
    ];
});
</script>

<div ng-controller="FilterOrderByCtrl">
    <table class="table">
        <tr ng-repeat="item in items | orderBy:'title'">
            <td width="50%">{{ item.title }}</td>
            <td width="50%"><input type="text" ng-model="item.title"></td>
        </tr>
    </table>
</div>